<div id= 'contact-section' class='w-full h-full bg-black text-gray-300 flex justify-center items-center p-4'>
    <form method='POST' action='https://getform.io/f/b4125b54-e29e-4739-b2ed-cdcc4d441e40' class='flex flex-col max-w-[600px] w-full'>
        <div class='pb-8'>
            <p class='text-4xl font-bold inline border-b-4 border-red-600 text-gray-300'>Contact</p>
            <p class='text-gray-300 py-4'>Submit the form below or shoot me an email at zzawarhussain82@gmail.com</p>
        </div >
        <input class='bg-[#ccd6f6] p-1 text-black' type='text' placeholder='Name' name='name'/>
        <input class='my-4 p-1 bg-[#ccd6f6] text-black' type='text' placeholder='Email' name='Email'/>
        <textarea class='bg-[#ccd6f6] p-1 text-black' name='Message' rows='10' placeholder='Message'></textarea>
        <button class='text-white group border-2 px-4 py-2 my-8 mx-auto flex items-center hover:bg-red-600 hover:border-red-600'>Let's Collaborate</button>
    </form>
</div>