<div id="about-section" class="w-full h-screen bg-black text-gray-300">
    <div class="flex flex-col justify-center items-center w-full h-full">
      <div class="max-w-[800px] w-full grid grid-cols-2 gap-8">
        <div class="sm:text-right pb-8 pl-4">
          <p class="text-4xl font-bold inline border-b-4 border-red-600">About</p>
        </div>
        <div></div>
      </div>
      <div class="max-w-[800px] w-full grid sm:grid-cols-2 gap-8 px-2">
        <div class="sm:text-right text-4xl font-bold">
          <p>Hi, I'm Zawar, nice to meet you. Please take a look around</p>
        </div>
        <div>
          <p>I'm Motivated MEAN stack and Ionic developer with a passion for crafting robust and scalable web applications. Proficient in MongoDB, Express.js, Angular, Ionic and Node.js, with a keen eye for UI/UX design. Committed to delivering high-quality code and innovative solutions to drive business growth</p>
        </div>
      </div>
    </div>
  </div>
  