<div id='skills-section' class='w-full h-full bg-black text-gray-300'>
    <div class='max-w-[800px] mx-auto px-4 flex flex-col justify-center w-full h-full'>
        <div>
            <p class='text-4xl text-gray-300 font-bold inline border-b-4 border-red-600'>Skills</p>
            <p class='py-4'>These are the technologies and Frameworks, i have worked with</p>
        </div>

        <div class='w-full grid grid-cols-2 sm:grid-cols-4 gap-4 text-center py-8'>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/html.png" alt="HTML Icon" />
                <p>HTML</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/css.png" alt="css Icon" />
                <p>CSS</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/javascript.png" alt="javascript Icon" />
                <p>JavaScript</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-28 mx-auto' src="/assets/typscript.png" alt="TypeScript Icon" />
                <p>TypeScript</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/angular.png" alt="Angular Icon" />
                <p>Angular</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/ionic.png" alt="HTML Icon" />
                <p>Ionic</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/node.png" alt="Node Icon" />
                <p>Node</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/github.png" alt="Github Icon" />
                <p>Github</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/mongodb1.png" alt="HTML Icon" />
                <p>MongoDB</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/MySql.png" alt="HTML Icon" />
                <p>My SQL</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-20 mx-auto' src="/assets/firebase.png" alt="HTML Icon" />
                <p>FireBase</p>
            </div>
            <div class='shadow-md shadow-red-600 hover:scale-110 duration-500'>
                <img class='w-16 mx-auto' src="/assets/pouchdb.png" alt="HTML Icon" />
                <p>PouchDB</p>
            </div>
        </div>
    </div>

</div>